.answer_btn {
  width: 30%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.switch_course {
  display: flex;
  justify-content: space-evenly;
}

.switchKana {
  padding: 1rem;
  font-size: 1rem;
}

.randomKana {
  width: auto;
  font-size: 9rem;
  margin-bottom: 1.8rem;
  margin-top: 1.2rem;
}

.answerKana {
  width: 80%;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
  text-transform: lowercase;
  border: none;
}

.red_btn {
  width: 30%;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #822222;
}
