body {
  background-color: #dcdcdc;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 400px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.home {
  cursor: pointer;
}

button {
  background-color: #599bb3;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2rem;
}

.course {
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
